{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <article class="post-detail">
    {% if post.image %}
      <img src="{{ post.image.url }}" class="post-detail-image" alt="{{ post.title }}">
    {% endif %}
    <h1>{{ post.title }}</h1>
    <div class="post-body">
      {{ post.body|linebreaks }}
    </div>
  </article>
  <section class="comments">
    <h2>Comments</h2>
    <ul>
      {% for comment in comments %}
        <li>
          <strong>{{ comment.author }}</strong>: {{ comment.text }}
        </li>
      {% empty %}
        <li>No comments yet. Be the first to comment!</li>
      {% endfor %}
    </ul>
  </section>
  
{% endblock %}
