{% extends "blog/base.html" %}
{% block title %}All Posts{% endblock %}

{% block content %}
  <div class="post-list">
    {% for post in posts %}
      <div class="post-preview">
        {% if post.image %}
          <img src="{{ post.image.url }}" class="post-thumbnail" alt="{{ post.title }}">
        {% endif %}
        <h2><a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.body|truncatewords:30 }}</p>
        <a href="{% url 'blog:detail' post.pk %}" class="read-more">Read More →</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
