{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="navbar">
        <div class="container">
            <a href="{% url 'blog:list' %}" class="logo">Raviblog</a>
        </div>
    </header>

    <main class="main-content container">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2025 My Blog. All rights reserved.</p>
    </footer>
</body>
</html>
